html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 48px;
}
p, a, b {
  font-size: 16px;
}

/* transition */
.transition {
  transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
}
.longerTransition {
  transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  -o-transition: .5s;
}

/* navbar */
.navbar {
  /* position: fixed; */
  box-sizing: border-box;
  top: 0;
  width: 100%;
  background: linear-gradient(0deg, rgba(250, 0, 255, 0.0493206) 0%, rgba(250, 0, 255, 0.0493206) 18.75%, rgba(0, 255, 178, 0.056) 99.99%, rgba(93, 126, 210, 0.1) 100%), #3C3C3C;
  /* background-color: #4F5D63; */
  padding: 20px;
  padding-left: 10px;
  padding-right: 20px;
  overflow-x: hidden;
  z-index: 100;
}
.navItems {
  float: right;
}
.navbar a {
  color: #fff;
  font-size: 25px;
  padding: 20px;
  text-decoration: none;
}
.navbar a:hover {
  color: #eaeff1;
}
/* login */
.login {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, rgba(230, 50, 212, 0.6) 0%, rgba(28, 48, 230, 0.12) 100%), #4296FA;
}
.login > a {
  padding-top: 5vh;
  padding-left: 5vw;
  display: flex;
  flex-direction: row;
  color: #fff;
  text-decoration: none;
}
.login > a p {
  font-size: 44px;
  margin: 0;
  padding-left: 20px;
}
.login h1 {
  color: white;
  font-weight: normal;
  text-align: center;
}
.breakLine {
  margin: 20px;
  margin-top: 50px;
  width: 70%;
  margin-left: 15%;
  border-top: 2px solid #161616;
}
.loginButton {
  background-color: #309df4;
  border: none;
  padding: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  border-radius: 200px;
  cursor: pointer;
  /* filter: drop-shadow(8px 8px 4px rgba(17, 17, 17, 0.349)); */
}
.loginButton:hover {
  background-color: #1482db;
}
/* glassy style */
.glassy {
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
  border-radius: 30px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.4)
  );
  min-height: 200px;
  /* padding-bottom: 15px; */
  padding-bottom: 60px;
}
.glassy div {
  padding-top: 50px;
}
.glassy input {
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.glassy input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
.aboutInfo1 {
  display: flex;
  flex-direction: row;
}
.aboutInfo1 div {
  flex: 1;
}
.aboutInfo1 p {
  font-size: 3rem;
}

.aboutInfo2 {
  align-items: center;
  background: linear-gradient(180deg, rgba(230, 50, 212, 0.6) 0%, rgba(28, 48, 230, 0.12) 100%), #4296FA;
  color: #eaeff1;
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  height: 800px;
  justify-content: space-evenly;

}

.imgTextContainer {
  width: 512px;
}
